[2014-07-23 07:35] bezoerb opened #1 "Make it fly"

[2014-09-04 13:51] #1 closed, assigned to bezoerb

[2014-11-11 02:38] jonattanva opened #3 "Update dependencies"
Hi
Update dependencies inline-critical (0.0.5) and critical (0.4.0) ?
thank

[2014-11-19 22:52] aboutaaron opened #4 "Output of critical css to file different from inline css"
Hey!

I'm having an issue where crucial css isn't being inlined into  the destination HTML file. Here's my task:

[code]

`critical:test` yields the expected CSS that's above the fold. `critical:build` yields **most** of the CSS but seems to miss two or three selectors. Is there anything I should be looking for to diagnose this issue?

Or is there a way to inline the content of `critical.css` into

[2014-11-20 01:16] #4 closed, assigned to nobody

[2014-12-08 14:01] khalwat opened #5 "Absolute path in resulting CSS"
I'm not sure if there's something I'm doing wrong with critical but I'm ending up with absolute paths in the critical CSS itself, for example for URLs to fonts, backgrounds, etc.

Is there some way to prevent these paths from being rewritten by critical?

Here's en excerpt from my Gruntfile:

		critical: {
		    site_index: {
		        options: {
		            base: './',
		            css: [

[2014-12-16 22:06] #3 closed, assigned to nobody

[2015-01-07 18:55] ozasadnyy opened #6 "Process multiple files"
Hello!
How can I process multiple files? Because this task:
[code]

Gives me following error:
[code]

[2015-01-07 23:39] bezoerb commented on #6
Hey @ozasadnyy,
the memory leak issue should be fixed now.
To process multiple files you should use the following syntax though:
[code]

[2015-01-08 19:24] ozasadnyy commented on #6
It works, thanks!

[2015-01-10 15:00] ozasadnyy commented on #6
Hello, @bezoerb again!
It processes multiple files, but incorrectly..
It replaces all `.html` files with one of them. In my case with file from last subfolder.
[Here](https://github.com/zasadnyy-inc/v-zasadnyy-com) is my repository of project.

[2015-01-10 20:56] bezoerb commented on #6
Hey @ozasadnyy,
i'll check out your repository and try to fix this.
Thanks for reporting

[2015-01-11 23:40] bezoerb opened #7 "Tests failing"
Since the last release of penthouse (0.2.52) pocketjoso/penthouse@704c294 all tests are failing.
It looks like we get a totally different critical css now.

Penthouse version is already locked in [critical](https://github.com/addyosmani/critical/issues/56) but we need to wait for a new npm version.

[2015-01-11 23:45] bezoerb commented on #6
The multiple file issue is fixed now. I've modified the testcase to address this issue and released a new version but i would wait for https://github.com/bezoerb/grunt-critical/issues/7 to be fixed before updating the module

[2015-01-12 04:31] #7 closed

[2015-01-12 04:31] #6 closed

[2015-01-12 04:33] #5 closed

[2015-01-12 15:34] ozasadnyy commented on #6
ok, thanks a lot!

[2015-01-18 18:37] khalwat commented on #5
Yeah so basically, it was working as expected.  But I was using loadCSS() to async load the full CSS later on.  The problem is that by default loadCSS() puts the style sheet in front of the first script tag it encounters in the head

So because of where the first script tag was in my html head tags, it was loading the full CSS *before* the inline CSS from grunt-critical... so the full CSS would ne

[2015-01-18 18:46] khalwat opened #8 "grunt-critical hanging"
I've used grunt-critical to great success on some projects already (thank you!), but in moving an existing site over to grunt-critical, I've encountered a problem.

I run grunt critical, and it just hangs.  I've left it running for hours, to no avail, it just sits there churning up 100% of CPU.  If I interrupt the task with ^C, there are tmp-4073j10r0cw.css files sitting in the build directory tha

[2015-01-24 23:14] khalwat commented on #8
Still hung up on this (no pun intended).  No useful information comes out if I do:

    grunt critical --verbose --debug

    Running "critical" task
    [D] Task source: /var/www/clp/site/node_modules/grunt-critical/tasks/critical.js

     Running "critical:site_index" (critical) task
    [D] Task source: /var/www/clp/site/node_modules/grunt-critical/tasks/critical.js
     Verifying property crit

[2015-01-24 23:16] bezoerb commented on #8
hey @khalwat
sorry for the late response.
I've quite busy at the moment but i will try to take a look at this issue tomorrow.

[2015-01-24 23:19] khalwat commented on #8
No worries at all, I appreciate your time.  I do have developmental experienced (C/PHP, etc.) and am willing to help in any way I can.  I can't really determine what about the HTML it doesn't like... or whether it is critical or penthouse or phantomjs that is hanging.

But you should be able to replicate it locally, given the static files listed in the Gruntfile above.

[2015-01-25 04:16] khalwat commented on #8
So I figured it out by process of elimination.  There's a chunk of Javascript code that I inline (just RequireJS + my config JS for it) for performance reasons.

If I delete this chunk of code, grunt critical runs fine, and does its thing.  I don't know if it's because of the content of the Javascript, or because it's all minimized on one line that's causing it to choke.

But if I remove it, it al

[2015-01-26 05:25] bezoerb commented on #8
@khalwat,
i've checked the linked assets above (html + css). They are processed as expected but it seems you have already removed the failing requirejs block from there. So a sample source file for testing would be great.

[2015-01-26 05:34] khalwat commented on #8
Sure.  Put this in your grunt file:

    critical: {
        site_index: {
            options: {
                base: '<%= pkg.dist_path %>',
                css: [
                    'http://www.crushlivepoker.com/site/css/site.combined.min.css',
                ],
                width: 960,
                height: 900
            },
            src: 'http://www.crushlivepoker.com/',

[2015-02-17 00:27] bezoerb commented on #8
hey @khalwat
your testcase runs on master but i needed to accept an outgoing firewall request (i think it was some social stuff e.g. twitter)
On travis everything runs fine.

[2015-02-27 20:48] stuartsantos opened #9 "Fatal error: Callback was already called"
It might be something I'm doing wrong, but for some reason, I keep getting the following message:

File "html/critical/index.html" created.
Fatal error: Callback was already called.

My gruntfile has the following:
[code]

Have I implemented it incorrectly? It just creates a blank file where the dest path leads to

[2015-03-11 07:16] bezoerb commented on #9
@stuartsantos configuration looks ok but i can't verify without knowing the folder structure of your project. Have you already tried with the latest version?

[2015-03-11 10:18] stuartsantos commented on #9
@bezoerb yep, still seeing the issue...I've switched to critical-css though, so this can be closed

[2015-03-11 13:46] bezoerb commented on #9
This one is still a valid issue

[2015-03-12 22:50] bezoerb commented on #9
looks like this issue comes from a wrong css path.

[2015-03-13 10:26] bezoerb commented on #9
waiting for `critical` version bump

[2015-03-16 15:22] #9 closed

[2015-03-16 16:06] bezoerb opened #10 "Travis fails on multiple test when using minify:true"
I don't know why but sometimes the generated styles result in an empty string when running the `test-multiple` with `minify:true`.
For some reason this seems only to happen when running on travis vm.
Need to dig a bit deeper...

[2015-03-16 16:06] bezoerb commented on #10
See https://travis-ci.org/bezoerb/grunt-critical/builds/54588222

[2015-04-01 12:57] deanhume opened #11 "Process multiple dimensions"
Hi

I am trying to process multiple dimensions against a single HTML file like so:

    critical: {
			dist: {
				options: {
					base: './',
					dimensions: [{
						width: 1300,
						height: 900
					},
					{
						width: 500,
						height: 900
					}]
				},
				files: [
				{src: ['index-critical.html'], dest: 'index.html'}
				]
			}
		}

But I get the following code inlined:

    <style

[2015-04-01 12:59] bezoerb commented on #11
I'll take a look later today.
Thanks for reporting

[2015-04-02 15:02] bezoerb commented on #11
@deanhume just wrote a testcase using the `dimensions` option and everything seems good.
Can you provide some more context?
Maybe try `rm -Rf node_modules && npm install`?

[2015-04-06 14:33] deanhume commented on #11
@bezoerb Thanks for your help. Unfortunately I am still getting that same error even after removing as you suggested.

I am actually processing it against this particular file:

https://github.com/deanhume/typography/blob/gh-pages/index-critical.html

and using the exact code in my gruntfile as mentioned above. Everything else seems good on the page, its just the inlining that doesn't seem to work

[2015-04-09 14:39] deanhume commented on #11
@bezoerb I've had a look at your test case and it seems to work. I have no idea why my particular version won't work!

[2015-04-09 14:49] bezoerb commented on #11
can you post the output of `npm list` to a gist?
Maybe there are some conflicting versions

[2015-04-09 14:57] deanhume commented on #11
Not sure if this helps - https://gist.github.com/1a1df257ce356d274126.git

Please let me know if you need it in another format - thank you!

[2015-04-09 15:03] bezoerb commented on #11
looks like the wrong list.
It should list all the npm packages within your failing project. This list doesn't contain grunt-critical at all ;)

[2015-04-09 15:03] bezoerb commented on #11
you should run this command inside your project root

[2015-04-09 15:30] deanhume commented on #11
Okay, Ive updated that Gist - let me know if you need more information.

[2015-04-09 15:32] bezoerb commented on #11
This looks like a version mismatch with `clean-css`
As of version 3.x a hash is returned instead of the minified css string. So maybe there's something on this side. I'll take a look at the new gist

[2015-04-09 15:33] deanhume commented on #11
Awesome - thank you @bezoerb

[2015-04-09 15:49] bezoerb commented on #11
Hmm,... nothing conspicuous inside your gist,...
Need deeper ls.
`npm ls --depth=10 | grep "grunt-critical" -A 60` or
`npm ls --depth=10 | grep "clean-css" -C 50`

The cleancss version used by critical needs be somewhere around `2.2.23`

[2015-04-09 15:58] deanhume commented on #11
Okay - Gist updated. Unfortunately I am running on Windows, so I cant grep - but let me know if that works for you!

[2015-04-10 08:46] bezoerb commented on #8
I'm closing this due to lack of feedback.

[2015-04-10 08:46] #8 closed

[2015-04-10 11:05] bezoerb commented on #11
Now this looks wrong.
[code]

this should be
[code]

[2015-04-12 21:01] bezoerb commented on #11
@deanhume we've just landed a new release of `critical` with bumped dependencies.
Could you try again with a fresh install?
`npm cache clean`
`rm -Rf node_modules` (or remove the folder on windows ^^)
`npm install`

[2015-04-12 21:36] bezoerb commented on #10
could reproduce the bug locally. When setting `minify`, some of the generated files have empty style tags. need to investigate further.

[2015-04-13 07:15] bezoerb commented on #10
think i got it: https://github.com/pocketjoso/penthouse/issues/53

[2015-04-13 08:23] deanhume commented on #11
:boom: That's the one - all sorted!

Thanks so much for your help! :smile:

[2015-04-13 08:50] #11 closed

[2015-04-17 21:49] bezoerb commented on #10
Fixed with 600a5e8d317847f57123abb2eb78473f1b90d2e0

[2015-04-17 21:49] #10 closed

[2015-06-05 12:24] deanhume opened #12 "Fatal error: Unable to write "dist/" file (Error code: EISDIR)."
Hi

I am running the following configuration in my Gruntfile:

    critical: {
            dist: {
                options: {
                    base: './',
                    width: 1300,
                    height: 900
                },
                src: '**/*.html',
                dest: 'dist/'
            }
        }
    })

The idea is that I pick up all HTML files and then dump them i

[2015-06-05 12:26] deanhume commented on #12
I've also tried running this without the subdirectory src, eg:

     src: '*.html',
     dest: 'dist/'

But unfortunately I still get the same error. I'm not sure if the task is looking for a file instead of a directory.....

[2015-06-05 14:59] bezoerb commented on #12
try
[code]

[2015-06-05 15:22] deanhume commented on #12
Hmmm...that didn't seem to work for me. I've created a [pull request](https://github.com/bezoerb/grunt-critical/pull/13) and fixed the issue. Let me know what you think!

[2015-06-06 23:18] bezoerb commented on #12
@deanhume pr landed.
[code]
should work as expected. Wanna give it a try?

[2015-06-08 10:37] deanhume commented on #12
Hmmmm...almost there - except I get a different error this time.

    Fatal error: Maximum call stack size exceeded

I am running it against 12 files. Not sure, but my original pull request seemed to work. Any ideas?

Thanks for you help!

[2015-06-09 08:45] deanhume commented on #12
If you need any more detail around this error, please let me know!

[2015-06-09 21:55] bezoerb commented on #12
@deanhume more detail please ;)
I'm not able to reproduce the call stack error on my side.

[2015-06-18 22:35] bezoerb commented on #12
@deanhume any updates on this?

[2015-07-01 10:35] oller opened #15 "Unable to use glob wildcard characters in css: option"
I'm having trouble incorporating grunt-critical into my workflow.

I'm on a jekyll site with grunt-usemin, handling cachebusting amongst other tasks.  As a result, I can't directly reference the css file by name as the cachebusting value changes.  I also want to exclude the ie8 version of the stylesheet.

My config object:

[code]

Unfortunately this errors.

If I change to `css` property for exam

[2015-08-18 10:44] phpcoder opened #16 "grunt-critical 0.1.6 error"
After updating to 0.1.6 grunt-critical throws an error:

Unhandled rejection TypeError: Bad argument
    at TypeError (native)
    at ChildProcess.spawn (child_process.js:1136:26)
    at exports.spawn (child_process.js:995:9)
    at module.exports (/**project_path**/node_modules/grunt-critical/node_modules/critical/node_modules/penthouse/lib/index.js:32:10)
    at tryCatcher (/**project_path**/nod

[2015-08-18 15:56] bezoerb commented on #16
Looks like something screwed up the spawned phantomjs process in penthouse.
Is it possible for you to link the `dist/index-src.html` so i can debug the error?

[2015-08-19 04:52] bezoerb commented on #15
@oller glob patterns were not supported for the css option. I fixed that.
https://github.com/bezoerb/grunt-critical/releases/tag/v0.1.7
Wanna give it another try?

[2015-08-19 07:44] phpcoder commented on #16
Ben, thanks for following this. I reinstalled the whole project and don't see the error anymore. Perhaps it was some dependency issue. If the issue reappears I will send you all needed sources.

[2015-08-19 08:48] oller commented on #15
Works perfectly @bezoerb, lovely stuff.  I didn't realise glob's had to be supported per package, I had assumed it was a native grunt feature!

Thanks again!  Shall close this off....

[2015-08-19 08:50] bezoerb commented on #16
ok, i'll close this for now.
feel free to reopen if the issue reappears.

[2015-08-19 08:50] #16 closed

[2015-08-19 09:24] oller commented on #15
A tad premature!  The glob patterns are now entirely supported and work great.  However i'm having trouble with critical not properly inlining styles from within media queries now.

In this case, some styles specifically for desktop and up media queries are bleeding into the mobile first regular CSS and breaking the mobile view.

This used to work fine before (when I had to hardcode the file paths

[2015-08-19 09:42] robertnurijanyan opened #17 "PHP Template Engine support"
Hi,

I'm not able to get grunt-critical to work with .tpl files (Smarty template engine).
I'm using the following config:

[code]

Running the task results in the following warning:
[code]

Assuming the warning is thrown because grunt-critical doesn't recognise .tpl files?
Any idea on how to get this to work?

Thanks in advance for any help you are able to provide.

[2015-08-26 21:32] bezoerb commented on #15
@oller i think this could be related to https://github.com/addyosmani/critical/issues/93

[2015-09-11 12:40] #17 closed

[2015-11-18 08:51] michaelthorne commented on #12
Hey @bezoerb I'm also experiencing the same issue:

And the `critical` Grunt task:

[code]

It works fine if I change `src` to e.g. `src: dist/index.html` and `dest` to `dest: dist/index.html` i.e. replaces the existing file with the inline `<style>` element.

Versions:

`npm 2.14.7`
`node 4.2.2`

Windows 8.1

Any ideas? Thanks in advance!

[2015-11-18 08:58] michaelthorne commented on #12
@bezoerb @deanhume the problem seems to be that `src` and `dest` only accept strings (file names).

If I change the Grunt task to:

[code]

It works as expected. If I change it to:

[code]

It creates a file `test` (without an extension) and works as expected (CSS is inlined).

If I change it to e.g.

[code]

i.e. a directory `test/` it throws this error:

[code]

[2015-11-18 09:59] bezoerb commented on #12
@michaelthorne thanks for the debugging :)
I hope to have some time within the next days to provide a fix

[2015-11-18 10:19] michaelthorne commented on #12
@bezoerb no worries! Let me know if there's any testing I can help with. Thanks.

[2015-12-25 21:10] ethyde opened #19 "Update to Critical 0.7.0 ?"
Hi,

Can you update to use critical version 0.7.0, and explain how to use this feature https://github.com/addyosmani/critical/pull/100 in a Grunt task ? :)

Thanks a lot.

[2015-12-26 11:12] macx commented on #19
:+1:

[2015-12-28 00:28] bezoerb commented on #19
https://github.com/bezoerb/grunt-critical/releases/tag/v0.2.0
You can use an url as src in your grunt task:
[code]

[2015-12-28 10:57] ethyde commented on #19
It's working great !

Thanks :)

[2015-12-28 21:30] #19 closed

[2016-02-10 09:41] shibulijack-fd opened #20 "Penthouse timed out after 30s"
When I try to run the grunt task on a folder containing multiple HTML files, it runs for a few HTML files and after a while, I get this error:

**Penthouse timed out after 30s.**

This is my grunt config:

[code]

[2016-02-10 11:02] shibulijack-fd commented on #20
I fixed it by setting the timeout value to 120000 ms in penthouse index.js. It would be nice if we could set this value using options.

[2016-03-07 13:32] ska-cz commented on #20
+1

[2016-04-15 06:02] whats1thingnow opened #21 "extract: true issue?"
excellent work here!

just wondering...  i want to inline the critical css into the html, and also have a the inlined css removed from the original css

here is my code:

`      critical: {
          test: {
              options: {
                  base: './',
                  css: [
                      'processing/temp/style.css'
                  ],
                  extract: true

[2016-04-15 17:48] whats1thingnow opened #22 "inline essentially causes the code to load twice?"
as per readme:

so that means, the critical pieces will be loaded the 1st time inside of the html

then, 2nd, the same critical pieces will be loaded again asynchronously (along with the non critical)?

thank you for clarifying!

[2016-04-17 21:08] bezoerb commented on #21
When using the extract option, a copy of the original file is created to not mess up with other pages using the same stylesheet. Your index.html should use the modified version after using critial.
It should look something linke this:
[code]

[2016-04-20 17:58] whats1thingnow commented on #21
thank you for your reply.

my html has this in the head:
`
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta content="NOINDEX, NOFOLLOW" name="ROBOTS">
<link rel="stylesheet" href="style_hlc.min.css"/>
`

my gruntfile.js:
`      critical: {
          hlc_css_2temp: {
              options: {
                  base: './',
                  css: [
                      'proce

[2016-06-06 18:25] azirer opened #23 "Empty output css file when all original css is inlined?"
On a website I have all css is inlined for every page and every page has different css. So I'm using this
`critical: {
	test: {
		options: {
			base: '/',
			inline:false,
			extract:true,
			minify:true
		},
		src: 'https://mydomain.com/',
		dest: 'output/critical.css'
	}
}
`
But output/critical.css is empty. Using the same options when styles are external files I get the crrtical css file as int

[2016-06-09 15:19] bezoerb commented on #23
@azirer i'm quite busy at the moment. Trying to take a look as soon as possible

[2016-06-11 06:08] XhmikosR opened #31 "Tests fail on Windows"
[code]

And the process is stuck there.

We could set up AppVeyor like we do for Grunt/Grunt contrib in order to test Windows. I can make a PR if needed for this.

[2016-06-11 20:30] bezoerb commented on #31
@XhmikosR i've added appveyor but i've currently no windows machine to test on.

[2016-06-11 20:35] bezoerb commented on #22
@whats1thingnow that's true. Critical also supports an `extract`option which removes the critical css from the source stylesheets. Keep in mind that this option might create different source stylesheets for different pages which will drop any caching benefits. See https://github.com/addyosmani/critical/issues/39 for further insights

[2016-06-12 02:20] XhmikosR commented on #31
@bezoerb: you don't need one, those are the same errors I get :/

I will see tomorrow if I can update appveyor.yml, but it's irrelevant to the errors.

[2016-06-12 17:25] XhmikosR commented on #31
OK, the problem is the pattern for some tasks.

Example

[code]

I worked around it here https://github.com/bezoerb/grunt-critical/commit/ee5a15077eee91a47dd3a77ce3d4d3b02956d745

Not sure if we should work around it or fix it.

[2016-06-12 20:47] bezoerb commented on #31
Thanks @XhmikosR. I think fixing is always the best option ;)

[2016-06-12 21:37] XhmikosR commented on #31
All right, I'm closing this for now and we should revisit if needed in the future.

[2016-06-12 21:37] #31 closed

[2016-06-14 12:08] XhmikosR commented on #21
This is something that baffles me too. But in my case I want to do this for many index.html files. I haven't found a solution yet.

[2016-06-14 12:11] XhmikosR commented on #23
@azirer: can you share a complete test case, preferably a small repo?

[2016-08-08 15:59] guizza opened #34 "No such file or directory"
Hi all,

this is the console error when i try to run the latest plugin release

[code]

with the following Gruntfile.js

[code]

The strange thing is that  the same plugin in another project, runs perfectly.
In this one I choose to share the grunt module from a parent dir through a grunt-collection.
Any suggestion?

[2016-08-10 15:58] said3ourhou commented on #34
I have the same issue, Please Guys we need help! http://prntscr.com/c40sct Thank you

[2016-09-02 07:46] XhmikosR commented on #34
This was an upstream issues. Clean up your local modules and do `npm i` again.

[2016-09-02 07:46] #34 closed

[2016-09-02 07:54] bezoerb commented on #34
Thanks @XhmikosR

[2016-09-04 21:36] said3ourhou commented on #34
Thank you So much @XhmikosR

[2016-09-05 07:48] guizza commented on #34
thank you so much.After clean up all seems to work fine.
G.

    Il Venerdì 2 Settembre 2016 9:46, XhmikosR <notifications@github.com> ha scritto:

 This was an upstream issues. Clean up your local modules and do npm i again.—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-11-01 10:05] brendonboshell commented on #20
I have also been experiencing this issue. In my case, it turned out that I had some URLs for my test environment (of the form https://192.168.0.7, for example) that did not load under some environments and networks (even in Google Chrome they 'load' until they timed out). This is what was causing penthouse to timeout, so it is important that any external resources work in your HTML fixtures. Do yo

[2016-12-06 16:10] SpikeShape opened #35 "CSS files requested twice"
I am using grunt-ciritical to generate a critical css block.
I realized just now that the CSS files are requested (and loaded) twice according to the network tab of the Developer Tools (Chrome).

I checked this by adding a '1' at the end of each of the 3 CSS file paths provided in the loadCSS function rendering the paths invalid.

As it turns out I get 6 404 errors in my DevTool network tab, two f

[2016-12-14 17:23] enricominciamo opened #36 "error"
Unhandled rejection Error: File.contents can only be a Buffer, a Stream, or null.

[2017-01-23 18:02] lukebussey commented on #36
I'm getting the same error. Downgrading to 0.2.1 fixes the issue.

Here's my task config:

[code]

[2017-02-01 22:34] monolux commented on #35
Strange. [FF has this bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1306892) where stylesheets load twice in dev tools. Perhaps something similar is known for Chrome?

I swear, how you describe the bug, it is identical how this behaved in FF, I was experiencing this issue with any stylesheet from any site and was really wondering what is going on.

[2017-02-03 10:57] SergRad commented on #36
Thanks! It`s worked!

[2017-03-09 13:36] Sysix opened #37 "Ignore Property should not ignore full property"
Hey Guys,

I tried to ignore all URL Paths for my critical.css.
In my case there are some background shorthand properties.
But my critcal task are ignore the whole background line and not only the url definition.

Im Using the Version 0.2.2

Here is an example:

public.css:

[code]

output the critical css:
[code]

expected:
[code]

My Gruntfile configuration:

[code]

Hope you can help me :)

[2017-03-09 21:01] bezoerb commented on #37
@Sysix: ignoring partial properties isn't supported. I suggest using
[code]

[2017-03-09 21:01] #37 closed

[2017-03-09 22:37] Sysix commented on #37
Okay :( now I must look at my CSS files and change all required properties

[2017-03-25 19:37] oleksiidrozdenko commented on #36
How do downgrade to 0.2.1?
Google doesn't help me... I found a certain commit on github, downloaded it on my machine but don't understand how to install it with npm install --save-dev grunt-critical. Thanks!

[2017-03-26 13:25] SergRad commented on #36
Hi oleksiidrozdenko.
Are you tried this ? -  npm install grunt-critical@0.2.1 --save-dev
Plugun page : https://www.npmjs.com/package/grunt-critical

[2017-03-27 09:22] oleksiidrozdenko commented on #36
Hi, thanks a lot: it worked!

[2017-07-11 15:46] manoj-krishnan opened #39 "Travis error - Unexpected end of JSON input"
Hi @bezoerb, I ran into an issue when running grunt-critical in Travis. I'm getting a sporadic error which says "<some-file> failed - Unexpected end of JSON input". I'm not able to reliably reproduce it; it occurs at different points during the task runtime in each occurrence.

After digging around a bit, I noticed that this _might_ be due to parallel instances of Penthouse (and Phantom, by extens

[2017-07-12 21:58] bezoerb commented on #39
Hey @manoj-krishnan. Thanks for using `grunt-critical`. Currently i've no idea what could cause the issue. I'll have to investigate a bit as soon as i have some time to work on this. In the meantime you could set the `DEBUG` environment variable to `critical:*` to print some additional debug output to the console.

[2017-07-12 22:03] bezoerb commented on #39
I Think this is related to https://github.com/addyosmani/critical/issues/208

[2017-07-13 09:26] manoj-krishnan commented on #39
Thanks for the reply @bezoerb, much appreciated! I did see the issue in the _critical_ repo, but wasn't sure whether the two issues were related. I'll try to catch the error again and get some debug output and pass it on to you.

[2017-07-13 10:19] manoj-krishnan commented on #39
Thanks for the reply @bezoerb! Sure, I'll try and get some additional debug output. I'll also try looking at the respective issues in `critical` and `penthouse` to see if I can find something.

[2017-08-01 20:36] Romkond opened #41 "Process multiple HTML files to get multiple CSS files"
Hi there,
can you tell me how to process multiple html-files to get multiple css-files? I want to merge them into one to use just one chunk of inline code on all pages. This way looks to be rather bulky:
[code]
Thank you.

[2017-08-02 08:38] bezoerb commented on #41
@Romkond: Your can look here: https://github.com/bezoerb/grunt-critical/blob/master/Gruntfile.js#L171

[2017-08-02 08:55] Romkond commented on #41
I tried it:
[code]
but it makes html-files, not css.

[2017-08-02 09:03] Romkond commented on #41
BTW, I use v.0.2.1. I had

described in #36 . That's why downgraded.

[2017-08-16 14:18] dni commented on #16
same error deleting node_nodules an reinstalling modules helps :)

[2017-10-23 08:41] shervud opened #42 "Critical CSS don't see JS"
Hello everyone.
As I quite clear understand, grunt-critical is a shell over critical module (https://github.com/addyosmani/critical) which based on penthouse module (https://github.com/pocketjoso/penthouse).
So as I see Penthouse has options to work with JS, they are: **renderWaitTime** and **blockJSRequests**. But grunt-critical does not.
My questions is: does grunt-critical proceed html page and

[2017-10-26 04:36] bezoerb commented on #42
@shervud: You can pass options to penthouse like this:
[code]

[2017-10-26 05:53] shervud commented on #42
Yep, thank you, I have already got it ;)

[2017-11-08 17:05] julioarguello opened #43 "Huge input CSS"
We have faced an issue while working with an extraordinary large CSS file (almost 150k lines)

It looks like grunt-critical is not able to process the full file. Instead of that the generated critical contents are a very small portion of the original file. So, there is no visible error but it is clearly not good.

If we split that input file into 3-4 parts then it creates bigger contents, but we d

[2017-11-13 21:18] BenMagyar opened #44 "Publish latest version to NPM"
Would it be possible to publish the latest version to NPM with the critical@1.0.0 dep?

[2017-11-17 22:58] bezoerb commented on #44
done

[2017-11-17 23:00] bezoerb commented on #44
https://github.com/bezoerb/grunt-critical/releases/tag/v1.0.0

[2017-11-17 23:01] #44 closed

[2017-11-17 23:01] #42 closed

[2017-12-01 17:10] jjshabadoo opened #45 "1.0.1 - various errors"
Using node 8.9.0

Initially I had issues with 1.0.0 as in here:  https://github.com/addyosmani/critical/issues/218.

I applied yawlhead91's fix and grunt-critical ran at without any error messages.

Now using the write to css file option, I do get some css in there but not anything critical. Write to an html file overwrites the html file completely with that same css.

I attempted to downgrade to

[2017-12-02 00:18] bezoerb commented on #45
This should be fixed in critical [v1.0.0](https://github.com/addyosmani/critical/releases/tag/v1.1.0).
I'll bump `grunt-critical` in the next days

[2017-12-03 10:23] jjshabadoo commented on #45
Thx for the quick reply!

[2017-12-03 22:24] bezoerb commented on #45
https://github.com/bezoerb/grunt-critical/releases/tag/v1.1.0

[2017-12-11 10:26] shervud opened #46 "Unhandled rejection Error. Several errors: "socket hang up", "Wrong status code 502" and so on"
Hello, everyone.
For example I've got url "https://www.cleanandclear.com.vn".

My config is:
  grunt.config('critical', {
    debug: {
      options: {
        base: './',
        timeout: 60000,
        penthouse: { "strict": false, "renderWaitTime": 5000, "blockJSRequests": false, "pageLoadSkipTimeout": 20000 },
        width: 1920,
        height: 1920,
        pathPrefix: ""
      },
      src

[2017-12-14 05:26] jjshabadoo commented on #45
Working like a charm now. Thanks!

[2017-12-14 10:31] #45 closed

[2018-03-20 19:43] artqvo opened #47 "Warning: critical.generate"
I'm getting this error:

My configuration:
[code]
Sorry, if this is a very lame error, I'm quite new at this.

[2018-03-24 08:45] nfrankel commented on #47
+1

[2018-04-28 11:58] Romkond opened #49 "(node:9421) UnhandledPromiseRejectionWarning: Error: Failed to launch chrome!"
There were issues while installing the plugin (however I did it like `sudo npm install grunt-critical --unsafe-perm=true`)
Now there's an error while launching it:
[code]
Node v8.11.1
Npm 6.0.0

[2018-04-30 18:13] hdwebpros opened #50 "Critical CSS doesn't "extract" from the source file, leaving CSS to be loaded twice"
Unless I'm reading into things wrong, when extracting the Critical CSS it should delete those rules from the file it grabbed them from.

Is that the intention or does that have to be solved a different way?

[2018-04-30 18:18] hdwebpros opened #51 "Running task saves new CSS file with local paths"
If I have a line of code in my CSS, like:
[code]
When Grunt Critical is fired it changes the path to my local path.

Just like this:
`src:url(../../../../../websites/homestead/projects/myproject/user/themes/hdwp-theme/fonts/gotham-book.woff)`

Any idea how I can preserve the file paths?

[2018-05-03 21:12] lt7 commented on #47
+1

[2018-05-04 04:24] bezoerb commented on #50
Not exactly. The original css file remains untouched as the extraction may remove rules vital to subpages. Instead a copy of the original file with the extracted rules removed is created. The original file is swapped out by `inline-critical` during the inlining process.

[2018-05-04 20:49] hdwebpros commented on #50
I'm sorry, can you please explain:
"Instead a copy of the original file with the extracted rules removed is created. The original file is swapped out by inline-critical during the inlining process."

If we are loading the critical CSS on every page and comfortable extracting that CSS from the main CSS files, what can we do to achieve that?

[2018-05-04 20:50] hdwebpros commented on #51
Thanks for letting me know! I hope it is a simple fix

[2018-05-09 12:43] hctom commented on #47
Same issue here. The related PR fixes the issue, but unfortunately the builds fail there. Perhaps one of the maintainers may have a look at it, so this package can be used again.

[2018-05-16 09:45] bezoerb commented on #47
sorry for the late response.
PR is merged & new version is released:
https://github.com/bezoerb/grunt-critical/releases/tag/v1.1.1

[2018-05-16 09:45] #47 closed

[2018-05-24 06:17] artqvo commented on #47
Thanks

[2018-08-09 14:05] Minirock commented on #49
I had the same issue. It's because you miss some dependencies.

This will solve your problem:

`sudo apt-get install gconf-service libasound2 libatk1.0-0 libc6 libcairo2 libcups2 libdbus-1-3 libexpat1 libfontconfig1 libgcc1 libgconf-2-4 libgdk-pixbuf2.0-0 libglib2.0-0 libgtk-3-0 libnspr4 libpango-1.0-0 libpangocairo-1.0-0 libstdc++6 libx11-6 libx11-xcb1 libxcb1 libxcomposite1 libxcursor1 libxdamag

[2018-08-09 14:20] Minirock opened #52 "File xxx.css failed. net::ERR_ABORTED at file xxx.php"
I have a question that might be related to an issue I have.

I try to use it for the first time: so here is what I did in my gruntfile.

[code]

So if I understand what I'm doing: the task will look the critical css from the file template.php coming from accueil.css and bootstrap.css and will write the new css inside template.css. Am I right ?

But actually I'm getting this error and I can't find

[2018-08-12 20:43] bezoerb commented on #52
You're right. Apart the fact that critical can't interpret php itself so you need to use an url where the page can be fetched. See the [`test-remote-css`](https://github.com/bezoerb/grunt-critical/blob/master/Gruntfile.js#L222) example.

[2018-08-12 20:44] bezoerb commented on #49
Thanks @Minirock

[2018-08-12 20:44] #49 closed

[2018-08-12 20:49] bezoerb commented on #46
@shervud: sorry for the late response. This error seems like a problem with the server and not with critical itself. Can you verify that this error doesn't occur without critical?

[2018-08-12 20:52] bezoerb commented on #20
Penthouse options can be specified using the penthouse option. See https://github.com/addyosmani/critical#options

[2018-08-12 20:52] #20 closed

[2018-08-12 20:52] Minirock commented on #52
Thanks for your response,

In your example I can see the src file is still an html one.

Indeed I saw server language are not working so I tried to use an url such as http://website/accueil (this page should be the resulting html of accueil.php with the css).
But, even if I didn't get any errors, I've got no css generated neither. So I've come to think that even with an online url It can't work.

[2018-08-12 20:55] bezoerb commented on #52
An online url should work without problems. Can you check the output of critical cli for your url?
[code]

[2018-08-13 15:28] Minirock commented on #52
I guess I'm still missing something in configs; but chromium is installed.
========================================================
`grunt critical`
Running "critical:test" (critical) task

Warning: File "test_fichier/resultat.css" failed. Use --force to continue.

Aborted due to warnings.

========================================================

` critical https://critical.agoravita.com/temp/tes

[2018-08-14 12:03] Minirock commented on #52
node -v
v10.8.0

npm -v
6.2.0

[2018-08-21 04:36] bezoerb commented on #52
Your last comment looks like chromium isn't installed at all.

at assert (/usr/local/lib/node_modules/critical/node_modules/puppeteer/lib/helper.js:282:11)
at Function.launch (/usr/local/lib/node_modules/critical/node_modules/puppeteer/lib/Launcher.js:106:7)

What's happening if you run
`npx critical https://critical.agoravita.com/temp/test-critical/`

I'm getting expected results for that so mayb

[2018-08-23 20:50] bezoerb commented on #52
I currently had a simmilar issue where puppeteer did not install correctly.
`rm -Rf node_modules && yarn` resolved it for me.

[2018-11-18 09:13] jjshabadoo opened #53 "Self closing Tags / SVG"
Hello,

Having trouble with svg's - I assume the issue is self closing tags.

I've seen this was addressed years ago in critical / cheerio and those are marked as closed. Have not had this in previous experience with this module. Any suggestions for a fix with current version?

This:

`<symbol viewBox="0 0 24 24" id="shape-clock">
		<title>clock</title>
		<path d="M11.99 2C6.47 2 2 6.48 2 12s4.47

[2018-11-18 22:19] bezoerb commented on #53
@jjshabadoo: Can you check which version of inline-critical is used in your project?
I've just added a test for your failing svg and the output was just as expected.
https://github.com/bezoerb/inline-critical/commit/c10a6a2bfd6e7e9954c7c57bf2f1dc34db106fc0

[2018-11-19 03:55] jjshabadoo commented on #53
└─┬ grunt-critical@1.1.1
  └─┬ critical@1.3.4
    └── inline-critical@4.0.5

[2019-02-06 16:00] Stepasy opened #54 "Ignore doesn't work"
Hi. Started using your plugin and faced the problem that the "ignore" option doesn't work

Here is the code example
[code]

[2019-02-07 05:45] jjshabadoo commented on #53
Updated all my modules and I am not seeing this issue any longer. Thanks

[2019-02-07 05:45] #53 closed

[2019-02-09 22:48] bezoerb commented on #54
@Stepasy: can you provide a failing testcase?

[2020-01-17 12:21] serkanbektas commented on #54
`ignore: ['@font-face']`
or
`ignore: {
            atrule: ['@font-face'],
 },`

not working for me too.

[2020-09-10 08:58] oguzhanagyar opened #64 "html.twig {% for %} problem"
I'm trying to add critical css to my project, but when I run grunt the '{% for%}' tags fail.

here is html.twig file

[code]

here is gruntfile.js

[code]

It works fine when I remove the for tags.

Does anyone know the solution to the problem?

[2020-09-11 21:35] bezoerb commented on #64
@oguzhanagyar: Twig files or files in any other templating language aren't supported by  critical. You'll need  to compile your layouts to `html` before passing them down to critical and then you should do the  inlining yourself.

What i would do is:
 - compile templates to html
 - generate  critical css for template **without inlining**
 - store critical.css per route/page
 - in twig check if the

[2020-09-27 14:13] Kristinita opened #65 "feature_request(conflict): grunt-critical + grunt-pageres + grunt-load-config"
### 1. Summary

**If** I use grunt-critical + [**grunt-pageres**](https://github.com/sindresorhus/grunt-pageres) + [**grunt-load-config**](https://www.npmjs.com/package/load-grunt-config):

    grunt-critical 2.0.0 is more than 10x slower than 1.1.3.

### 2. Details

#### 2.1. Real project

[**My AppVeyor build**](https://ci.appveyor.com/project/Kristinita/kristinitapelican/builds/35272508/job/9pr

[2020-10-06 17:27] Kristinita commented on #65
@bezoerb , is any ideas how to fix it?

Thanks.

[2020-10-06 20:38] bezoerb commented on #65
Hey @Kristinita, thanks for the detailed report. I will have to look into this in detail. I already checked the `KiraCritical` branch without any errors.
Time **without** `require('load-grunt-config') grunt`: 14s
Time **with** `require('load-grunt-config') grunt`: 16.1s

I'm checking the master branch now to see if i can find something.

[2020-10-06 21:12] bezoerb commented on #65
Sorry... i could not find anything reasonable.

[2020-10-07 07:48] Kristinita commented on #65
**Status: Need more info** 🤔

@bezoerb

### 1. Questions

Excuse me, I didn’t understand what you were doing. Please let me know what can I do to better clarify the problem? Could you please advise how you get 14 and 16.1 seconds?

### 2. About MCVE

I remind you that I have reproduced my problem on Travis CI.

Travis CI builds:

1. [**Without `require('load-grunt-config') grunt`**](https://travis

[2020-10-14 22:08] bezoerb commented on #65
1)
I think i did the same things you did on Travis CI:
I checked the `KiraCritical`branch.
Without the line `require('load-grunt-config') grunt` the command `grunt critical` took 14s
After adding the `require('load-grunt-config') grunt` the command took 16.1s

2)
I wasn't able to reproduce your problem on my local hardware. This makes it somehow impossible for me to debug the time difference you a

[2020-11-27 12:29] nachogarcia opened #66 "Allow uncritical configuration"
Latest critical version has a target option that allows to save the remaining css (uncritical) to a different file
[code]
It would be great if we could use that functionality to be able to use this library to extract critical css without duplicity if we're not inyecting it in HTML.

[2020-11-28 23:16] bezoerb commented on #66
@nachogarcia: Thanks for reporting this.
I don't have free time to work on this at the moment. If you like you can open a PR for this to speed things up.

[2022-05-13 07:42] jlballes commented on #54
Hi. Same problem with ignore option as @serkanbektas explained

[2022-05-26 10:03] jlballes commented on #54
My fault! "ignore" works great.
I forgot to add "ignore" within "options".
Example:

`critical: {
    test: {
        options: {
            base: './',
            css: [
                'test/fixture/styles/main.css',
                'test/fixture/styles/bootstrap.css'
            ],
            width: 320,
            height: 70,
            **ignore: ['@font-face', 'background-image']**